@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.searchbar {
  padding: 0.5rem;
  padding-left: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  background-image: url("../resources/icons8-search.svg");
  background-repeat: no-repeat;
  background-position: left;
  color: black;
}
.pagination-left {
  margin-right: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-image: url("../resources/pagination.png");
  background-size: contain;
  transform: rotate(180deg);
}
.pagination-left:hover {
  background-color: rgb(229, 229, 229);
}
.pagination-right {
  margin-left: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-image: url("../resources/pagination.png");
  background-size: contain;
}
.pagination-right:hover {
  background-color: rgb(229, 229, 229);
}
.role-input {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: 1px solid gray;
  color: black;
  border-radius: 5px;
  outline: none;
}
.role-input:focus {
  outline: none !important;
  border-bottom: 1px black solid;
}
.custom-image {
  background-image: url("../resources/create-user.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: white;
    /* background: black; */
  }
}
